avatar-size {
  height: 32px;
}


body-background {
  background:#fff0dc;
}


footer-background {
    background:#2d303a;
} 

@font-face {
    font-family: 'ubuntu';
    font-style: italic;
    font-weight: 300;
    src: local("Lato Light Italic"), local("Lato-LightItalic"), url(https://fonts.gstatic.com/s/ubuntucondensed/v8/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-Dfqw.woff2) format("woff2"); }

body {
  height: 100vh;
	margin: 0;
  background-color: #fff0dc;
  font-family: 'ubuntu', Arial, sans-serif;
  overflow-x: hidden;
  display: grid;
  place-items: center;
}

a {
  text-decoration: none;
  color: #9ca0b1;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #2d303a;
  border-top: 1px solid #dddddd;
}
footer ul {
    list-style-type: none;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 1.5rem;
    line-height: 40px;
}

footer li {
      
      
    }



a.fullname {
      margin-left: 14px;
    }

img.avatar {
      display: inline-block;
      width: 32px;
      height: 32px;
      border-style: solid;
      border-width: 4px;
      border-color: #444857;
      border-radius: 50%;
      float: left;
    }

.intro {
	text-align: center;
	font-size: 3em;
}


.wrapper {
	text-align: center;
}

.wrapper h1 {
  color: #fff;
  font-size: 92px;
  font-family: 'ubuntu';
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Josefin Sans',sans-serif;
  background: linear-gradient(to right,#697dff 10%,#fff 50%,#5bdaff 60%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite;
  display: inline-block;
}

@keyframes textclip {
 to {
  background-position:200% center
 }
}