body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: white;
    width:100%;
    height:100%;
    overflow-x: hidden;
    display: block;
    
}

.container {
    min-height: 100%;
    margin: auto;
   
}

.highlight {
    color: #686868;
}


/* NAVIGATION */

nav {
    position: absolute;
    margin: 0px;
    bottom: 0;
    background-color:#D4DADA;
    height: 50px;
    border-bottom: #CDB380 3px solid;
    width: 100%;
    z-index: 98;
    
}

nav.fixed {
    animation-name: popDown;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes popDown {
    0% {
        transform: translateY(-100px);
    }
}

nav.fixed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

}


nav.fixed {
    top: 0;
    bottom: inherit;
    left: 0;
    position: fixed;

}


li { 
    display: inline;
    padding: 0px 20px;
    margin: auto;
    text-transform: uppercase;

}


nav a {
    color:#707070;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
    transition: color .5s;

}

nav a:hover {
    font-weight: bold;
    color:#a88e5a;
}

nav a .current {
    color: #cdb380;
    font-weight: bold;
}


/* landing section*/

#home {

    background: url(https://cdn.stocksnap.io/img-thumbs/960w/8BGD7JT8CN.jpg) no-repeat center center fixed #000; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


    background-color: rgba(231, 221, 194, 0.5);
    color: white;
    height: 100vh;
    width: 100vw;
    position: absolute;
    pointer-events: none;
    z-index: 100;
    
}




div .text {
    display: center;
    text-align: center;
    position: relative;
    top: 170px;
    font-size: 2.5em;
    z-index: 1;
    
    
}

.work {
    margin: 40px;
    padding-top: 40px;
    text-align: center;
    
    
}

.work a {
    text-decoration: none;
    color: #D0D7DD;
    border-style: solid; 
    border-color: #70707096;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.925);
}

/*CANVAS*/


#about {
    position: relative;
    top: 925px;
    display:flex;
    line-height: 11pt; 
    
}

#about .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    width:100%;
    box-sizing: border-box;
}

#about.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/*about*/

	#Web_1920___2 * {
		margin: 0;
		padding: 0;
	}
	#Web_1920___2 {
		position: absolute;
		box-sizing: border-box;
		transform: translateX(-50%);
		left: 50%;
		background: #E5E5E5;
		width: 1920px;
		height: 1080px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		margin: 0;
        padding: 0;

		--web-view-name: Web 1920 – 2;
		--web-view-id: Web_1920___2;
		--web-scale-to-fit: true;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#ABOUT {
		position: absolute;
		left: 881.194px;
		top: 65px;
		overflow: visible;
		width: 158px;
		white-space: nowrap;
		text-align: left;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(3,2,1,1);
		letter-spacing: 0.03px;
	}
	#Rectangle_8 {
		fill: rgba(213,199,173,1);
		stroke: rgb(213, 199, 173);
		stroke-width: 4px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_8 {
		position: absolute;
		overflow: visible;
		width: 93.085px;
		height: 98.366px;
		left: 454.76px;
		top: 216.195px;
	}
	#Path_2 {
		fill: rgba(0,0,0,0);
		stroke: rgb(219, 218, 216);
		stroke-width: 25px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_2 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 626.094px;
		left: 1215.239px;
		width: 423.606px;
		height: 25px;
	}
	#Path_7 {
		fill: transparent;
		stroke: rgba(185, 140, 51, 0.55);
		stroke-width: 25px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_7 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 626.094px;
		left: 1194.239px;
		width: 375.705px;
		height: 25px;
	}
	#ID85_ {
		position: absolute;
		left: 1645.977px;
		top: 617px;
		overflow: visible;
		width: 32px;
		white-space: nowrap;
		text-align: left;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,0,0,1);
		letter-spacing: 0.03px;
	}
	#Path_6 {
		fill: rgba(255,255,255,1);
	}
	.Path_6 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 626.094px;
		left: 1207.239px;
		width: 423.606px;
		height: 0px;
	}
	#Line_4 {
		fill: transparent;
		stroke: rgb(164, 154, 153);
		stroke-width: 25px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_4 {
		overflow: visible;
		position: absolute;
		top: 626.094px;
		left: 1151px;
		width: 109.477px;
		height: 25px;
	}
	#Wordpress {
		position: absolute;
		left: 1166.977px;
		top: 617px;
		overflow: visible;
		width: 79px;
		white-space: nowrap;
		text-align: left;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.03px;
	}
	#Path_8 {
		fill: rgba(0,0,0,0);
		stroke: rgb(219, 218, 216);
		stroke-width: 25px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_8 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 677.094px;
		left: 1215.239px;
		width: 423.606px;
		height: 25px;
	}
	#Path_9 {
		fill: transparent;
		stroke: rgba(185, 140, 51, 0.55);
		stroke-width: 25px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_9 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 677.094px;
		left: 1194.239px;
		width: 322.861px;
		height: 25px;
	}
	#ID70_ {
		position: absolute;
		left: 1645.977px;
		top: 668px;
		overflow: visible;
		width: 32px;
		white-space: nowrap;
		text-align: left;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,0,0,1);
		letter-spacing: 0.03px;
	}
	#Line_7 {
		fill: transparent;
		stroke: rgb(164, 154, 153);
		stroke-width: 25px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_7 {
		overflow: visible;
		position: absolute;
		top: 677.094px;
		left: 1151px;
		width: 109.477px;
		height: 25px;
	}
	#CSS {
		position: absolute;
		left: 1166.977px;
		top: 668px;
		overflow: visible;
		width: 29px;
		white-space: nowrap;
		text-align: left;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.03px;
	}
	#Path_10 {
		fill: rgba(0,0,0,0);
		stroke: rgb(219, 218, 216);
		stroke-width: 25px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_10 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 728.094px;
		left: 1215.239px;
		width: 423.606px;
		height: 25px;
	}
	#Path_11 {
		fill: transparent;
		stroke: rgba(185, 140, 51, 0.55);
		stroke-width: 25px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_11 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 728.094px;
		left: 1194.239px;
		width: 291.247px;
		height: 25px;
	}
	#ID60_ {
		position: absolute;
		left: 1645.977px;
		top: 719px;
		overflow: visible;
		width: 33px;
		white-space: nowrap;
		text-align: left;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,0,0,1);
		letter-spacing: 0.03px;
	}
	#Line_8 {
		fill: transparent;
		stroke: rgb(164, 154, 153);
		stroke-width: 25px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_8 {
		overflow: visible;
		position: absolute;
		top: 728.094px;
		left: 1151px;
		width: 109.477px;
		height: 25px;
	}
	#Adobe_XD {
		position: absolute;
		left: 1166.977px;
		top: 719px;
		overflow: visible;
		width: 74px;
		white-space: nowrap;
		text-align: left;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.03px;
	}
	#Path_12 {
		fill: rgba(0,0,0,0);
		stroke: rgb(219, 218, 216);
		stroke-width: 25px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_12 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 779.094px;
		left: 1215.239px;
		width: 423.606px;
		height: 25px;
	}
	#Path_13 {
		fill: transparent;
		stroke: rgba(185, 140, 51, 0.55);
		stroke-width: 25px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_13 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 779.094px;
		left: 1194.239px;
		width: 352.016px;
		height: 25px;
	}
	#ID75_ {
		position: absolute;
		left: 1645.977px;
		top: 770px;
		overflow: visible;
		width: 31px;
		white-space: nowrap;
		text-align: left;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,0,0,1);
		letter-spacing: 0.03px;
	}
	#Line_9 {
		fill: transparent;
		stroke: rgb(164, 154, 153);
		stroke-width: 25px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_9 {
		overflow: visible;
		position: absolute;
		top: 779.094px;
		left: 1151px;
		width: 109.477px;
		height: 25px;
	}
	#HTML {
		position: absolute;
		left: 1166.977px;
		top: 770px;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.03px;
	}
	#Path_14 {
		fill: rgba(0,0,0,0);
		stroke: rgb(219, 218, 216);
		stroke-width: 25px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_14 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 830.094px;
		left: 1215.239px;
		width: 423.606px;
		height: 25px;
	}
	#Path_15 {
		fill: transparent;
		stroke: rgba(185, 140, 51, 0.55);
		stroke-width: 25px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_15 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 830.094px;
		left: 1194.239px;
		width: 291.247px;
		height: 25px;
	}
	#ID60__A1_Text_10 {
		position: absolute;
		left: 1645.977px;
		top: 821px;
		overflow: visible;
		width: 33px;
		white-space: nowrap;
		text-align: left;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,0,0,1);
		letter-spacing: 0.03px;
	}
	#Line_10 {
		fill: transparent;
		stroke: rgb(164, 154, 153);
		stroke-width: 25px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_10 {
		overflow: visible;
		position: absolute;
		top: 830.094px;
		left: 1151px;
		width: 109.477px;
		height: 25px;
	}
	#JavaScript {
		position: absolute;
		left: 1166.977px;
		top: 821px;
		overflow: visible;
		width: 76px;
		white-space: nowrap;
		text-align: left;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.03px;
	}
	#Path_16 {
		fill: rgba(0,0,0,0);
		stroke: rgb(219, 218, 216);
		stroke-width: 25px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_16 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 881.094px;
		left: 1215.239px;
		width: 423.606px;
		height: 25px;
	}
	#Path_17 {
		fill: transparent;
		stroke: rgba(185, 140, 51, 0.55);
		stroke-width: 25px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_17 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 881.094px;
		left: 1194.239px;
		width: 322.861px;
		height: 25px;
	}
	#ID70__A1_Text_12 {
		position: absolute;
		left: 1645.977px;
		top: 872px;
		overflow: visible;
		width: 32px;
		white-space: nowrap;
		text-align: left;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,0,0,1);
		letter-spacing: 0.03px;
	}
	#Line_11 {
		fill: transparent;
		stroke: rgb(164, 154, 153);
		stroke-width: 25px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_11 {
		overflow: visible;
		position: absolute;
		top: 881.094px;
		left: 1151px;
		width: 109.477px;
		height: 25px;
	}
	#Photoshop {
		position: absolute;
		left: 1166.977px;
		top: 872px;
		overflow: visible;
		width: 77px;
		white-space: nowrap;
		text-align: left;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.03px;
	}
	#Path_18 {
		fill: rgba(0,0,0,0);
		stroke: rgb(219, 218, 216);
		stroke-width: 25px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_18 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 932.094px;
		left: 1216.239px;
		width: 423.606px;
		height: 25px;
	}
	#Path_19 {
		fill: transparent;
		stroke: rgba(185, 140, 51, 0.55);
		stroke-width: 25px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_19 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 932.094px;
		left: 1195.239px;
		width: 321.861px;
		height: 25px;
	}
	#ID70__A1_Text_14 {
		position: absolute;
		left: 1646.977px;
		top: 923px;
		overflow: visible;
		width: 32px;
		white-space: nowrap;
		text-align: left;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,0,0,1);
		letter-spacing: 0.03px;
	}
	#Line_12 {
		fill: transparent;
		stroke: rgb(164, 154, 153);
		stroke-width: 25px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_12 {
		overflow: visible;
		position: absolute;
		top: 932.094px;
		left: 1152px;
		width: 109.477px;
		height: 25px;
	}
	#Illustrator {
		position: absolute;
		left: 1167.977px;
		top: 923px;
		overflow: visible;
		width: 74px;
		white-space: nowrap;
		text-align: left;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.03px;
    }
    #kk {
		fill: url(#kk_A1_Rectangle_3_pattern);
		stroke: rgb(204, 216, 204);
		stroke-width: 1px;
		stroke-linejoin: square;
		stroke-linecap: square;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
    
	.kk {
		position: absolute;
		overflow: visible;
		width: 382.08px;
		height: 382.08px;
		left: 241.231px;
		top: 571.861px;
	}
	#Rectangle_3 {
		fill: transparent;
		stroke: rgb(224, 240, 237);
		stroke-width: 6px;
		stroke-linejoin: square;
		stroke-linecap: square;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_3 {
		position: absolute;
		overflow: visible;
		width: 387.74px;
		height: 383.279px;
		left: 259.193px;
		top: 588.189px;
	}
	#Pink_Rectangle {
		fill: rgba(213,199,173,1);
	}
	.Pink_Rectangle {
		position: absolute;
		overflow: visible;
		width: 296.045px;
		height: 52.821px;
		left: 576.955px;
		top: 650.682px;
	}
	#KENIA_BRENES {
		position: absolute;
		left: 639px;
		top: 663px;
		overflow: visible;
		width: 164px;
		white-space: nowrap;
		line-height: 31px;
		margin-top: -4.5px;
		text-align: left;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(97,95,95,1);
	}
	#Kenia_is_a_Front_End_Developer {
		position: absolute;
		left: 665px;
		top: 725px;
		overflow: hidden;
		width: 205px;
		height: 255px;
		line-height: 31px;
		margin-top: -4.5px;
		text-align: left;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(112,112,112,1);
	}
	#Rectangle_22 {
		fill: rgba(164,154,153,1);
	}
	.Rectangle_22 {
		position: absolute;
		overflow: visible;
		width: 21px;
		height: 21px;
		left: 892px;
		top: 130px;
	}
	#Rectangle_23 {
		fill: rgba(164,154,153,1);
	}
	.Rectangle_23 {
		position: absolute;
		overflow: visible;
		width: 21px;
		height: 21px;
		left: 950px;
		top: 130px;
	}
	#Rectangle_24 {
		fill: rgba(164,154,153,1);
	}
	.Rectangle_24 {
		position: absolute;
		overflow: visible;
		width: 21px;
		height: 21px;
		left: 1008px;
		top: 130px;
	}
	#Tick___2 {
		position: absolute;
		width: 103.615px;
		height: 103.615px;
		left: 449.385px;
		top: 213.385px;
		overflow: visible;
	}
	#Rectangle_409 {
		fill: rgba(208,215,221,1);
	}
	.Rectangle_409 {
		position: absolute;
		overflow: visible;
		width: 103.615px;
		height: 103.615px;
		left: 0px;
		top: 0px;
	}
	#Path_305 {
		fill: rgba(238,238,238,1);
	}
	.Path_305 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 35.873px;
		left: 30.65px;
		width: 43.209px;
		height: 31.422px;
	}
	#Inuitive {
		position: absolute;
		left: 463px;
		top: 340px;
		overflow: visible;
		width: 77px;
		white-space: nowrap;
		line-height: 31px;
		margin-top: -4.5px;
		text-align: left;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(97,95,95,1);
	}
	#Prioritizing_functionality_whi {
		position: absolute;
		left: 351px;
		top: 388px;
		overflow: hidden;
		width: 273px;
		height: 105px;
		line-height: 31px;
		margin-top: -4.5px;
		text-align: left;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(97,95,95,1);
	}
	#Responsive {
		position: absolute;
		left: 738px;
		top: 340px;
		overflow: visible;
		width: 112px;
		white-space: nowrap;
		line-height: 31px;
		margin-top: -4.5px;
		text-align: left;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(97,95,95,1);
	}
	#Keeping_layouts_consistent_thr {
		position: absolute;
		left: 678px;
		top: 388px;
		overflow: hidden;
		width: 273px;
		height: 105px;
		line-height: 31px;
		margin-top: -4.5px;
		text-align: left;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(97,95,95,1);
	}
	#Clean {
		position: absolute;
		left: 1048px;
		top: 340px;
		overflow: visible;
		width: 56px;
		white-space: nowrap;
		line-height: 31px;
		margin-top: -4.5px;
		text-align: left;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(97,95,95,1);
	}
	#Easy_to_read__easy_to_navigate {
		position: absolute;
		left: 974px;
		top: 388px;
		overflow: hidden;
		width: 273px;
		height: 105px;
		line-height: 31px;
		margin-top: -4.5px;
		text-align: left;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(97,95,95,1);
	}
	#Informative {
		position: absolute;
		left: 1302px;
		top: 340px;
		overflow: visible;
		width: 117px;
		white-space: nowrap;
		line-height: 31px;
		margin-top: -4.5px;
		text-align: left;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(97,95,95,1);
	}
	#Informing_your_audience_on_the {
		position: absolute;
		left: 1246px;
		top: 388px;
		overflow: hidden;
		width: 273px;
		height: 105px;
		line-height: 31px;
		margin-top: -4.5px;
		text-align: left;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		color: rgba(97,95,95,1);
	}
	#Repeat___1 {
		position: absolute;
		width: 100.5px;
		height: 100.5px;
		left: 743px;
		top: 212px;
		overflow: visible;
	}
	#Path_309 {
		fill: rgba(238,238,238,1);
	}
	.Path_309 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 28px;
		left: -54.148px;
		width: 48.272px;
		height: 53.636px;
	}
	#Tick___3 {
		position: absolute;
		width: 103.615px;
		height: 103.615px;
		left: 741.385px;
		top: 213.385px;
		overflow: visible;
	}
	#Rectangle_409_A1_Rectangle_10 {
		fill: rgba(208,215,221,1);
	}
	.Rectangle_409_A1_Rectangle_10 {
		position: absolute;
		overflow: visible;
		width: 103.615px;
		height: 103.615px;
		left: 0px;
		top: 0px;
	}
	#Path_309_A1_Path_18 {
		fill: rgba(238,238,238,1);
	}
	.Path_309_A1_Path_18 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 241px;
		left: 769px;
		width: 45.121px;
		height: 50.134px;
	}
	#Tick___4 {
		position: absolute;
		width: 103.615px;
		height: 103.615px;
		left: 1023.385px;
		top: 213.385px;
		overflow: visible;
	}
	#Rectangle_409_A1_Rectangle_11 {
		fill: rgba(208,215,221,1);
	}
	.Rectangle_409_A1_Rectangle_11 {
		position: absolute;
		overflow: visible;
		width: 103.615px;
		height: 103.615px;
		left: 0px;
		top: 0px;
	}
	#Path_302 {
		fill: rgba(238,238,238,1);
	}
	.Path_302 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 244px;
		left: 1054px;
		width: 42px;
		height: 42px;
	}
	#Tick___5 {
		position: absolute;
		width: 103.615px;
		height: 103.615px;
		left: 1305.385px;
		top: 213.385px;
		overflow: visible;
	}
	#Rectangle_409_A1_Rectangle_12 {
		fill: rgba(208,215,221,1);
	}
	.Rectangle_409_A1_Rectangle_12 {
		position: absolute;
		overflow: visible;
		width: 103.615px;
		height: 103.615px;
		left: 0px;
		top: 0px;
	}
	#Group_344 {
		position: absolute;
		width: 55px;
		height: 34.376px;
		left: 1330px;
		top: 248px;
		overflow: visible;
	}
	#Path_66 {
		fill: rgba(238,238,238,1);
	}
	.Path_66 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 6.875px;
		height: 6.875px;
	}
	#Path_67 {
		fill: rgba(238,238,238,1);
	}
	.Path_67 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 0px;
		left: 10.313px;
		width: 44.688px;
		height: 6.875px;
	}
	#Path_68 {
		fill: rgba(238,238,238,1);
	}
	.Path_68 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 13.75px;
		left: 0px;
		width: 6.875px;
		height: 6.875px;
	}
	#Path_69 {
		fill: rgba(238,238,238,1);
	}
	.Path_69 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 13.75px;
		left: 10.313px;
		width: 44.688px;
		height: 6.875px;
	}
	#Path_70 {
		fill: rgba(238,238,238,1);
	}
	.Path_70 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 27.5px;
		left: 0px;
		width: 6.875px;
		height: 6.875px;
	}
	#Path_71 {
		fill: rgba(238,238,238,1);
	}
	.Path_71 {
		transform: matrix(1,0,0,1,0,0);
		overflow: visible;
		position: absolute;
		top: 27.5px;
		left: 10.313px;
		width: 44.688px;
		height: 6.875px;
	}





/*project*/

#project {
    position: relative;
    top: 1920px;
}



/*PROJECT*/

#Web_1920___3 * {
    margin: 0;
    padding: 0;
}
#Web_1920___3 {
    position: absolute;
    box-sizing: border-box;
    transform: translateX(-50%);
    left: 50%;
    background: #E5E5E5;
    width: 1920px;
    height: 1080px;
    background-color: rgba(238,238,238,1);
    overflow: hidden;
    margin: 0;
    padding: 0;
    --web-view-name: Web 1920 – 3;
    --web-view-id: Web_1920___3;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#PORTFOLIO {
    position: absolute;
    left: 850.194px;
    top: 70.01px;
    overflow: visible;
    width: 221px;
    white-space: nowrap;
    text-align: left;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    color: rgba(3,2,1,1);
    letter-spacing: 0.03px;
}
#Rectangle_417 {
    fill: rgba(164,154,153,1);
}
.Rectangle_417 {
    position: absolute;
    overflow: visible;
    width: 19.953px;
    height: 19.953px;
    left: 903.8px;
    top: 131.047px;
}
#Rectangle_418 {
    fill: rgba(164,154,153,1);
}
.Rectangle_418 {
    position: absolute;
    overflow: visible;
    width: 19.953px;
    height: 19.953px;
    left: 954.105px;
    top: 131.047px;
}
#Rectangle_419 {
    fill: rgba(164,154,153,1);
}
.Rectangle_419 {
    position: absolute;
    overflow: visible;
    width: 19.953px;
    height: 19.953px;
    left: 1004.41px;
    top: 131.047px;
}
#MY_LATEST_WORK__ {
    position: absolute;
    left: 855px;
    top: 280px;
    overflow: visible;
    width: 211px;
    white-space: nowrap;
    text-align: center;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(112,112,112,1);
    letter-spacing: 0.1px;
}


/*PROJECT - DISPLAY*/

#workholder {
    height: 100%;
    width: 80%;
}

.display {
    height: 200px;
    width: 200px;
    background-color: #707070;
}



/*contact*/

#contact {
    position: relative;
    top: 2280px;
}

/*CONTACT*/

#Contact * {
    margin: 0;
    padding: 0;
}
#Contact {
    position: absolute;
    box-sizing: border-box;
    transform: translateX(-50%);
    left: 50%;
    background: #E5E5E5;
    width: 1920px;
    height: 1458px;
    background-color: rgba(231,221,194,1);
    overflow: hidden;
    margin: 0;
    padding: 0;
    --web-view-name: Contact;
    --web-view-id: Contact;
    --web-scale-to-fit: true;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#Polygon_3 {
    fill: rgba(238,238,238,1);
}
.Polygon_3 {
    transform: rotate(180deg);
    overflow: visible;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1952px;
    height: 200px;
}
#CONTACT {
    position: absolute;
    left: 870.5px;
    top: 300px;
    overflow: visible;
    width: 180px;
    white-space: nowrap;
    text-align: left;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    color: rgba(3,2,1,1);
    letter-spacing: 0.03px;
}
#Rectangle_417 {
    fill: rgba(164,154,153,1);
}
.Rectangle_417 {
    position: absolute;
    overflow: visible;
    width: 19.953px;
    height: 19.953px;
    left: 899.719px;
    top: 364px;
}
#Rectangle_418 {
    fill: rgba(164,154,153,1);
}
.Rectangle_418 {
    position: absolute;
    overflow: visible;
    width: 19.953px;
    height: 19.953px;
    left: 950.023px;
    top: 364px;
}
#Rectangle_419 {
    fill: rgba(164,154,153,1);
}
.Rectangle_419 {
    position: absolute;
    overflow: visible;
    width: 19.953px;
    height: 19.953px;
    left: 1000.328px;
    top: 364px;
}
#LET_S_WORK_TOGETHER_AND_CONNEC {
    position: absolute;
    left: 612px;
    top: 519px;
    overflow: visible;
    width: 698px;
    white-space: nowrap;
    line-height: 80px;
    margin-top: -22.5px;
    text-align: left;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.03px;
}
#Rectangle_17 {
    fill: rgba(162,147,108,1);
}
.Rectangle_17 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 249px;
    left: 0px;
    top: 1215px;
}
#HOMELINK {
    fill: rgba(205,179,128,1);
}
.HOMELINK {
    position: absolute;
    overflow: visible;
    width: 65.841px;
    height: 62.915px;
    left: 927px;
    top: 1183.085px;
}
#Up_Arrow_Small {
    position: absolute;
    width: 25.895px;
    height: 22.178px;
    left: 946.752px;
    top: 1192.032px;
    overflow: visible;
}
#Path_36 {
    fill: rgba(54,65,62,1);
}
.Path_36 {
    transform: rotate(180deg);
    overflow: visible;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 25.895px;
    height: 22.178px;
}
#Up_Arrow_Small_A3_SymbolInstance_2 {
    position: absolute;
    width: 24.77px;
    height: 21.215px;
    left: 947.484px;
    top: 1208.357px;
    overflow: visible;
}
#Path_36_A3_Path_2 {
    fill: rgba(54,65,62,1);
}
.Path_36_A3_Path_2 {
    transform: rotate(180deg);
    overflow: visible;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 24.771px;
    height: 21.215px;
}
#Rectangle_421 {
    fill: rgba(238,238,238,1);
}
.Rectangle_421 {
    position: absolute;
    overflow: visible;
    width: 56.088px;
    height: 54.198px;
    left: 812px;
    top: 1281.802px;
}
#Rectangle_423 {
    fill: rgba(238,238,238,1);
}
.Rectangle_423 {
    position: absolute;
    overflow: visible;
    width: 55.664px;
    height: 53.19px;
    left: 1052px;
    top: 1282.81px;
}
#Instagram_Gray {
    position: absolute;
    width: 33.674px;
    height: 33.674px;
    left: 823.344px;
    top: 1291.886px;
    overflow: visible;
}
#Path_3 {
    fill: rgba(54,65,62,1);
}
.Path_3 {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 33.674px;
    height: 33.674px;
}
#Rectangle_425 {
    fill: rgba(238,238,238,1);
}
.Rectangle_425 {
    position: absolute;
    overflow: visible;
    width: 55.779px;
    height: 53.899px;
    left: 932.221px;
    top: 1282.101px;
}
#Facebook_Gray {
    position: absolute;
    width: 52.654px;
    height: 50.328px;
    left: 935.346px;
    top: 1285.672px;
    overflow: visible;
}
#Rectangle_392 {
    fill: transparent;
}
.Rectangle_392 {
    position: absolute;
    overflow: visible;
    width: 55.788px;
    height: 50.328px;
    left: -3.134px;
    top: -5.641px;
}
#Path_1 {
    fill: rgba(54,65,62,1);
}
.Path_1 {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 7.71px;
    left: 18.12px;
    width: 15.71px;
    height: 30.083px;
}
#Linkedin {
    position: absolute;
    width: 29.149px;
    height: 29.149px;
    left: 1065.225px;
    top: 1293.942px;
    overflow: visible;
}
#Linkedin_A3_BooleanGroup_1 {
    fill: rgba(54,65,62,1);
}
.Linkedin_A3_BooleanGroup_1 {
    transform: matrix(1,0,0,1,0,0);
    overflow: visible;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 29.149px;
    height: 29.148px;
}
#Rectangle_426 {
    fill: rgba(207,211,214,1);
}
.Rectangle_426 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 39.529px;
    left: 0px;
    top: 1424.471px;
}
#Kenia_Brenes__2019 {
    position: absolute;
    left: 890px;
    top: 1436px;
    overflow: visible;
    width: 141px;
    white-space: nowrap;
    line-height: 80px;
    margin-top: -32.5px;
    text-align: left;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(54,65,62,1);
    letter-spacing: 0.07px;
}





/*footer*/








/* media */
